@model FirstWeb.ViewModels.EmployeeViewModel
@{
    ViewBag.Title = "FormView";
}
@section Styles
{
    <style>
        fieldset {
            float: left;
            clear: both;
            width: 100%;
            margin: 0 0 1.5em 0;
            padding: 0;
            border: 1px solid #BFBAB0;
            background-color: #F2EFE9;
        }

            fieldset ol {
                padding-top: 0.25em;
            }

        label {
            float: left;
            width: 25%;
            margin-right: 0.5em;
            padding-top: 0.2em;
            text-align: right;
            font-weight: bold;
        }
    </style>
}
<h2>AddView</h2>

<div>
    <form action="/Test/SaveEmployee" method="post">
        <fieldset>
            <legend>Employee</legend>
            <ol>
            <label>firstname</label>
            <input type="text" id="TxtFirst" name="FirstName" value="@Model.FirstName"/>
            <</ol>>
            <ol>
            <label>lastname<</label>>
            <input type="text" id="TxtLast" name="LastName" value="@Model.LastName">
                <</ol>>
            <ol>
                <label>Salary:</label>
                <input type="text" id="TxtSalary" name="Salary" value="@Model.Salary" />
                @Html.ValidationMessage("Salary")
                <br />
            </ol>
            </fieldset>
</form>
</div>